body{
    margin:0px;
    font-family: 'Roboto', sans-serif;
    background:var(--body-color);
    color: var(--text-color);
}
header{
    display: flex;
    background-color: black;
    color:white;
}
.right p{

    display: inline;
    
    margin-left: 150px;
}
.right input{
    margin-top: 15px;
    margin-left: 0px;
    border-radius: 10px;
}

.left img{
    height:40px;
    width: 40px;
    margin-top: 5px;
}
.mid{
    margin-left: 450px;
}
#navbar{
    display: flex;
    list-style: none;
}

#navbar li a{
    margin: 30px;
    color: white;
    text-decoration: none;
}

.imag img{
        justify-content: center;
        height: 150px;
        margin-left: 40%;
        margin-bottom:20px;
        margin-top: 10px;
        border-radius: 5px;
        border:3px solid black;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.body p{
    margin-left: 10px;
}
.card  {
    border:3px solid black;
    background-color: antiquewhite;
    margin-top: 10px;
    width:470px;
    margin-left: 8px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.post form label{
    margin-left: 40%;

}
.post form input{
    margin-bottom: 3%;
    margin-left: 10px;
}
.btn{
    margin-left: 50%;
}
.btn:hover{
    color: grey;
}

.contain{
    border: 2px solid black;
    width:33%;
    margin:65px;
    margin-left: 35%;
    padding:10px 7px 14px 39px;
    background-color:rgba(255, 255, 255, 0.368);
}
.form input{
    display: block;
    text-align: center;
    font-size: 15px;
    width: 254px;
    padding: 6px;
    margin: 15px auto;
    border:2px solid black;
    border-radius: 20px;
}
.contain h1{
    text-align: center;
}
.contain .btn {
    color:white;
    text-align: center;
    margin: 7px 0px 8px 197px;
    padding: 10px 30px 10px 30px;
    border-radius: 30px;
    background-color: black;
}